In [ ]:
import pandas as pd
import numpy as np
import yfinance as yf
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
from scipy.stats import t, norm

In [ ]:
def scrap_table(url,headers):
  response = requests.get(url, headers=headers)
  if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    target_class = "ink-900"
    links = soup.find('a', class_=target_class)
    url2=url+links.get('href')
    response2 = requests.get(url2, headers=headers)
    soup2 = BeautifulSoup(response2.text, 'html.parser')
    data=[]
    table = soup.find('table')
    if table:
      rows = table.find_all('tr')
      headers = [th.text.strip() for th in rows[0].find_all('th')]
      for row in rows[1:]:
        cols = [td.text.strip() for td in row.find_all('td')]
        data.append(cols)

    table2 = soup2.find('table')
    if table2:
      rows = table2.find_all('tr')
      headers = [th.text.strip() for th in rows[0].find_all('th')]
      for row in rows[1:]:
        cols = [td.text.strip() for td in row.find_all('td')]
        data.append(cols)
    df = pd.DataFrame(data, columns=headers)
    return df

# **SCRAPING TICKERS**

In [ ]:
import requests
from bs4 import BeautifulSoup

def scrap_tickers(url,headers):
  response = requests.get(url, headers=headers)
  if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    target_class = "ink-900"
    links = soup.find('a', class_=target_class)
    target_value = "_blank"
    links = soup.find_all('a', attrs={'target': target_value})
    href_links = [link['href'] for link in links if 'href' in link.attrs]
    ticker=[]
    for href in href_links:
      parts = href.split('/')
      result = parts[2] if len(parts) > 2 else None
      ticker.append(result+".NS")
      return ticker

In [ ]:
url = "https://www.screener.in/company/NIFTY/"
url2 = "https://www.screener.in/company/NIFTY/?page=2"
headers = {'User-Agent': 'Mozilla/5.0'}
data=scrap_table(url,headers)
data2=scrap_table(url2,headers)
data=pd.concat([data,data2],ignore_index=True)
data
data_final=pd.DataFrame()
data_final=data[['S.No.','Name','CMP\n                    Rs.','P/E','Mar Cap\n                    Rs.Cr.']].copy()
data_final.rename(columns={'CMP\n                    Rs.': 'LTP','Mar Cap\n                    Rs.Cr.':'Market Cap'}, inplace=True)
data_final=data_final.dropna()
data_final=data_final.reset_index()
temp=0
for i in range(len(data_final)-1):
  if data_final['Name'].iloc[i]=="Median: 50 Co.":
    if(temp==0):
      data_final=data_final.drop([i])
      temp=1
    else:
      data_final=data_final.drop([i+1])
data_final=data_final.reset_index()
data_final=data_final.drop(['index','level_0'],axis=1)
ticker_list=scrap_tickers(url,headers)
ticker_list2=scrap_tickers(url2,headers)
ticker_list.extend(ticker_list2)
ticker_list
data_final

Extracted Links:

,S.No.,Name,LTP,P/E,Market Cap,52_week_high,52_week_low
0,1.,Reliance Industr,1272.85,25.36,1722467.61,"1,609","1,217"
1,2.,TCS,4473.90,33.61,1618696.17,"4,592","3,592"
2,3.,HDFC Bank,1871.75,20.68,1430928.71,"1,880","1,363"
3,4.,Bharti Airtel,1681.75,71.04,1007452.46,"1,779",960
4,5.,ICICI Bank,1344.90,20.04,949165.22,"1,362",970
5,6.,Infosys,1999.70,30.81,830324.82,"2,007","1,358"
6,7.,St Bk of India,861.55,10.04,768900.64,912,601
7,8.,ITC,470.00,28.61,588008.16,529,399
8,9.,Hind. Unilever,2390.10,54.64,561575.81,"3,035","2,170"
9,10.,Larsen & Toubro,3887.00,39.70,534513.28,"3,964","3,175"
10,11.,HCL Technologies,1968.80,31.75,534266.38,"1,975","1,235"
11,12.,Bajaj Finance,7182.80,28.92,444612.78,"7,830","6,188"
12,13.,Sun Pharma.Inds.,1813.45,38.83,435107.40,"1,960","1,209"
13,14.,M & M,3081.40,32.29,383180.97,"3,222","1,575"
14,15.,Kotak Mah. Bank,1805.65,18.67,358992.86,"1,953","1,544"
15,16.,Axis Bank,1148.15,12.72,355330.48,"1,340",996
16,17.,Maruti Suzuki,11272.55,25.28,354411.87,"13,680","9,738"
17,18.,UltraTech Cem.,12083.90,53.06,348859.85,"12,138","9,250"
18,19.,NTPC,357.15,15.69,346316.43,448,293
19,20.,Wipro,309.95,27.62,324337.53,314,208
20,21.,O N G C,254.25,7.68,319853.60,345,197
21,22.,Titan Company,3508.85,96.06,311510.85,"3,887","3,056"
22,23.,Power Grid Corpn,333.85,19.76,310500.66,366,223
23,24.,Adani Enterp.,2527.55,51.68,291724.95,"3,744","2,025"
24,25.,Tata Motors,790.30,8.69,290919.30,"1,179",696
25,26.,Adani Ports,1259.95,26.61,272166.71,"1,621",987
26,27.,Bajaj Finserv,1679.70,31.55,268191.33,"2,030","1,419"
27,28.,Coal India,410.30,7.03,252856.74,545,342
28,29.,Bajaj Auto,9021.40,34.18,251929.46,"12,774","6,232"
29,30.,Trent,7000.25,183.02,248850.11,"8,346","2,880"
30,31.,JSW Steel,999.85,47.63,244508.71,"1,063",762
31,32.,Asian Paints,2407.65,49.15,230941.26,"3,423","2,354"
32,33.,Bharat Electron,315.65,50.83,230733.17,340,164
33,34.,Nestle India,2253.50,68.41,217272.82,"2,778","2,169"
34,35.,Tata Steel,148.95,61.01,185942.14,185,128
35,36.,Grasim Inds,2692.70,37.86,177316.90,"2,878","2,015"
36,37.,Tech Mahindra,1796.40,53.72,175813.29,"1,808","1,163"
37,38.,Hindalco Inds.,662.10,11.40,148788.87,773,496
38,39.,SBI Life Insuran,1428.80,65.63,143172.19,"1,936","1,307"
39,40.,HDFC Life Insur.,632.55,80.41,136159.03,761,511
40,41.,Eicher Motors,4825.90,31.00,132293.58,"5,105","3,562"
41,42.,B P C L,301.70,9.78,130892.71,376,211
42,43.,Shriram Finance,3162.55,15.17,118922.39,"3,652","1,972"
43,44.,Cipla,1447.30,25.38,116885.76,"1,702","1,192"
44,45.,Britannia Inds.,4850.10,54.36,116823.53,"6,473","4,641"
45,46.,Apollo Hospitals,7259.45,88.23,104379.75,"7,545","5,285"
46,47.,Dr Reddy's Labs,1246.35,19.48,103996.80,"1,421","1,094"
47,48.,Tata Consumer,929.70,67.31,91989.97,"1,254",900
48,49.,Hero Motocorp,4575.45,22.20,91508.78,"6,246","3,737"
49,50.,IndusInd Bank,986.65,9.46,76864.36,"1,694",966

In [ ]:
def ohlc(ticker,start,end):
  data=yf.download(ticker,start,end)
  perc= ((data.iloc[len(data)-1]['Close']-data.iloc[0]['Close'])*100)/data.iloc[0]['Close']
  return perc.values[0]

def ohlcv(ticker,start,end):
  data=yf.download(ticker,start,end)
  return data.iloc[len(data)-1]['Volume'].values[0]
return_6mopercent=[]
return_1yrpercent=[]
return_5yrpercent=[]
return_volume=[]
try:
  for i in range(len(ticker_list)):
    return_6mopercent.append(ohlc(ticker_list[i],'2024-06-14','2024-12-14'))
    return_1yrpercent.append(ohlc(ticker_list[i],'2023-12-14','2024-12-14'))
    return_5yrpercent.append(ohlc(ticker_list[i],'2019-12-14','2024-12-14'))
except Exception as e:
  print("k")
for i in range(len(ticker_list)):
  return_volume.append(ohlcv(ticker_list[i],'2024-11-14','2024-12-14'))
data_final['6Months returns in%']=return_6mopercent
data_final['1Year returns in%']=return_1yrpercent
data_final['5Years returns in%']=return_5yrpercent
data_final['Volume']=return_volume
data_final

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,S.No.,Name,LTP,P/E,Market Cap,52_week_high,52_week_low,6Months returns in%,1Year returns in%,5Years returns in%,Volume
0,1.,Reliance Industr,1272.85,25.36,1722467.61,"1,609","1,217",-13.854020,3.309460,77.723484,28630222.0
1,2.,TCS,4473.90,33.61,1618696.17,"4,592","3,592",16.749516,21.996043,110.363226,1967048.0
2,3.,HDFC Bank,1871.75,20.68,1430928.71,"1,880","1,363",17.211470,13.429081,48.864679,9504501.0
3,4.,Bharti Airtel,1681.75,71.04,1007452.46,"1,779",960,17.819110,67.305012,306.145529,12900707.0
4,5.,ICICI Bank,1344.90,20.04,949165.22,"1,362",970,21.638854,30.111739,149.401952,13536684.0
5,6.,Infosys,1999.70,30.81,830324.82,"2,007","1,358",34.307201,33.184589,180.070021,5362693.0
6,7.,St Bk of India,861.55,10.04,768900.64,912,601,2.663248,38.146389,159.620302,9379370.0
7,8.,ITC,470.00,28.61,588008.16,529,399,9.010787,2.151705,98.395953,31753858.0
8,9.,Hind. Unilever,2390.10,54.64,561575.81,"3,035","2,170",-3.615280,-5.017187,21.033047,2260902.0
9,10.,Larsen & Toubro,3887.00,39.70,534513.28,"3,964","3,175",5.401593,13.221284,198.311589,2300361.0
10,11.,HCL Technologies,1968.80,31.75,534266.38,"1,975","1,235",37.577302,39.177158,256.537487,2569918.0
11,12.,Bajaj Finance,7182.80,28.92,444612.78,"7,830","6,188",-2.162350,-3.898750,77.816284,1250436.0
12,13.,Sun Pharma.Inds.,1813.45,38.83,435107.40,"1,960","1,209",19.620709,47.279288,316.741348,1391111.0
13,14.,M & M,3081.40,32.29,383180.97,"3,222","1,575",5.217503,80.881090,505.561534,2467964.0
14,15.,Kotak Mah. Bank,1805.65,18.67,358992.86,"1,953","1,544",5.150831,-2.599992,5.968489,3893531.0
15,16.,Axis Bank,1148.15,12.72,355330.48,"1,340",996,-2.785659,2.472228,53.650053,8731618.0
16,17.,Maruti Suzuki,11272.55,25.28,354411.87,"13,680","9,738",-12.243098,8.879859,57.877748,263579.0
17,18.,UltraTech Cem.,12083.90,53.06,348859.85,"12,138","9,250",7.481238,21.284119,197.541407,408880.0
18,19.,NTPC,357.15,15.69,346316.43,448,293,-3.066907,20.903860,210.700307,14269143.0
19,20.,Wipro,309.95,27.62,324337.53,314,208,29.821995,42.702586,154.945523,7382211.0
20,21.,O N G C,254.25,7.68,319853.60,345,197,-7.679737,29.752490,102.428346,11143128.0
21,22.,Titan Company,3508.85,96.06,311510.85,"3,887","3,056",-0.600557,-2.298541,201.020892,1242351.0
22,23.,Power Grid Corpn,333.85,19.76,310500.66,366,223,3.841370,43.838861,217.470434,14973536.0
23,24.,Adani Enterp.,2527.55,51.68,291724.95,"3,744","2,025",-22.509388,-12.663914,1100.736365,1940935.0
24,25.,Tata Motors,790.30,8.69,290919.30,"1,179",696,-20.444940,9.802013,351.729066,14101869.0
25,26.,Adani Ports,1259.95,26.61,272166.71,"1,621",987,-11.934718,17.237369,242.052377,2818291.0
26,27.,Bajaj Finserv,1679.70,31.55,268191.33,"2,030","1,419",5.525362,-2.960802,80.844301,1389802.0
27,28.,Coal India,410.30,7.03,252856.74,545,342,-15.740840,18.037969,113.032178,9439175.0
28,29.,Bajaj Auto,9021.40,34.18,251929.46,"12,774","6,232",-9.439603,42.409059,180.132923,243931.0
29,30.,Trent,7000.25,183.02,248850.11,"8,346","2,880",33.451216,134.533881,1268.706586,526964.0
30,31.,JSW Steel,999.85,47.63,244508.71,"1,063",762,8.543663,17.990317,295.041466,2444182.0
31,32.,Asian Paints,2407.65,49.15,230941.26,"3,423","2,354",-17.591394,-25.720770,39.053970,1150861.0
32,33.,Bharat Electron,315.65,50.83,230733.17,340,164,1.954130,92.469508,837.110295,15557064.0
33,34.,Nestle India,2253.50,68.41,217272.82,"2,778","2,169",-11.366765,-9.108512,59.239378,554661.0
34,35.,Tata Steel,148.95,61.01,185942.14,185,128,-18.673218,12.840907,253.800481,39701388.0
35,36.,Grasim Inds,2692.70,37.86,177316.90,"2,878","2,015",8.963257,28.495016,254.266379,412267.0
36,37.,Tech Mahindra,1796.40,53.72,175813.29,"1,808","1,163",30.985460,42.041598,132.303123,1503188.0
37,38.,Hindalco Inds.,662.10,11.40,148788.87,773,496,-3.145114,21.911251,220.396804,4198819.0
38,39.,SBI Life Insuran,1428.80,65.63,143172.19,"1,936","1,307",-2.796107,-2.792797,47.367342,3926561.0
39,40.,HDFC Life Insur.,632.55,80.41,136159.03,761,511,5.715720,-7.596231,6.831619,2573194.0
40,41.,Eicher Motors,4825.90,31.00,132293.58,"5,105","3,562",-2.212725,18.103839,122.895002,404369.0
41,42.,B P C L,301.70,9.78,130892.71,376,211,-3.710205,35.382546,22.642281,7726611.0
42,43.,Shriram Finance,3162.55,15.17,118922.39,"3,652","1,972",15.753167,49.296605,194.790869,1200626.0
43,44.,Cipla,1447.30,25.38,116885.76,"1,702","1,192",-7.505988,20.142782,215.831980,1318852.0
44,45.,Britannia Inds.,4850.10,54.36,116823.53,"6,473","4,641",-10.077588,-1.951822,58.972770,284721.0
45,46.,Apollo Hospitals,7259.45,88.23,104379.75,"7,545","5,285",16.944553,31.609535,429.674214,314999.0
46,47.,Dr Reddy's Labs,1246.35,19.48,103996.80,"1,421","1,094",2.407455,11.813355,121.270427,1258819.0
47,48.,Tata Consumer,929.70,67.31,91989.97,"1,254",900,-16.427700,-2.183176,188.502719,1278151.0
48,49.,Hero Motocorp,4575.45,22.20,91508.78,"6,246","3,737",-21.170014,17.813148,98.204436,552194.0
49,50.,IndusInd Bank,986.65,9.46,76864.36,"1,694",966,-34.326220,-36.414896,-33.932636,5674567.0